<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">  <!-- 禁止瀏覽器用快取開啟網頁 -->
    <title>VueTest</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div>
            Tool List
        </div>
        <div>Main Content
            <div v-if="asd">
                111111
            </div>
            <div v-else-if="asd">
                222222
            </div>
        </div>




        {{count}}
        <button @click="AddCount()">Add ++</button>
        <div v-for="(data,index) in listData">
            {{data}} {{index}}
        </div>
        <div v-for="(fwefwef, edfgefgrwer, index) in objectData">
            {{edfgefgrwer}} {{fwefwef}} {{index}}
        </div>

        <img :src="pic">
        {{pic}}
        <button @click="pic='殼蟻.png'">殼已</button>
        <button @click="pic='握手.gif'">握手</button>


        <div v-if="count==0">123456789</div>
        <div v-else-if="count==1">11111111111111</div>
        <div v-else-if="count==2">2222</div>
        <div v-else-if="count==3">3333</div>
        <div v-else>456456</div>

        {{message}}
        <input v-model="message">
    </div>
    <p></p>
</body>
<script src="VueTest.js"></script>
</html>