<!-- {% raw %} -->
<!-- {% verbatim %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./src/js/db.js"></script>
    <script src="./src/js/DateFormat.js"></script>
    <script src="./src/js/js.cookie.min.js"></script>
    <link href="./src/css/bootstrap5.css" rel="stylesheet">
    <script src="./src/js/vue_2.js"></script>
    <link href="./src/css/main.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <div v-if="loadEnd===false" id="load-check">WCST 測驗網站</div>
    <div v-if="gameStatus==='START'" style="width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;">
      <div class="" style="font-size: 2rem;">
        <div class="row">
          <div class="col">
            <h1 style="text-align: center;font-size: 4rem;margin-bottom: 32px;">WCST 測驗工具</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>受試者ID:</label>
          </div>
          <div class="col-8">
            <input v-model="TesterID" style="width: 100%;"
              onkeyup="value=value.replace(/[\u4e00-\u9fa5/\s+/]|[\.`~!@#$%^&*() \+ =<>?{}|, \/ ;'\\ [ \] ·~！@#￥%……&*（）—— \+ ={}|《》？：“”【】、；‘’，。、]/g ,'')"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>資料集:</label>
          </div>
          <div class="col-8" style="display: flex;align-items: center;justify-content: space-between;">
            <button class="btn" :class="dataSet==='64'?'btn-primary':'btn btn-outline-secondary'" @click="dataSet='64'" style="width: calc(50% - 4px);" >64</button>
            <button class="btn" :class="dataSet==='128'?'btn-primary':'btn btn-outline-secondary'" @click="dataSet='128'" style="width: calc(50% - 4px);">128</button>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>慣用手:</label>
          </div>
          <div class="col-8" style="display: flex;align-items: center;justify-content: space-between;">
            <button class="btn" :class="handSide==='L'?'btn-primary':'btn btn-outline-secondary'" @click="handSide='L'" style="width: calc(50% - 4px);">左手</button>
            <button class="btn" :class="handSide==='R'?'btn-primary':'btn btn-outline-secondary'" @click="handSide='R'" style="width: calc(50% - 4px);">右手</button>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label style="white-space: nowrap;">研究員密碼:</label>
          </div>
          <div class="col-8">
            <input v-model="startPasswordInput" style="width: 100%;">
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align: center;margin-top: 30px;">
            <button v-if="checkStartWindowInputEnd===null" class="btn btn-outline-primary" style="font-size: 3rem;padding: 0 2rem;" @click="testStart()">下一步</button>
            <button v-else class="btn btn-secondary" style="font-size: 3rem;padding: 0 2rem;" disabled>{{checkStartWindowInputEnd}}</button>
          </div>
        </div>
      </div>
      <div style="position: fixed;bottom:8px;right:8px;">V1.0.1</div>
    </div>
    <div v-if="gameStatus==='INFO'" style="width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;">
      <div style="display: flex;flex-direction: column;align-items: center;">
        <div style="display:flex;margin: 0 2rem;">
          <div class="card" style="font-size: 2rem;padding: 8px;border: 2px #000 solid;height: 95vh;">
            待會要請你將最下面的卡片與上面這四張卡片做配對，當你決定與哪一張卡片配對之後，你就按一下那一張分類規則的卡片。<br><br>我沒辦法告訴你應該如何配對這些卡片，但系統會在你每一次分類後告訴你這樣分類是正確的或錯誤的，請你根據系統告訴你的對錯去分類接下來的卡片。這個測驗沒有時間限制。<br><br>準備好了嗎？有任何疑問可以在這個時候提出來，若沒有疑問，請開始。
          </div> 
          <div style="position: relative;">
            <img src="https://drive.google.com/uc?export=view&id=1L1N3Aa8Frf4XiQ6TYMCdiuOeUJrJACst" alt="" style="width: 30vw;border: 2px #000 solid;margin-left: 8px;margin-bottom: 8px;">
            <img src="https://drive.google.com/uc?export=view&id=1bCebEv-TWOnBMCLEbVhYBnts533PPY9d" alt="" style="width: 30vw;border: 2px #000 solid;margin-left: 8px;margin-bottom: 8px;">
            <button class="btn btn-outline-primary" 
              style="font-size: 3rem;padding: 0 2rem;margin-left: 8px;width: calc(100% - 8px);
              position: absolute;left: 0;bottom: 0;" 
              @click.stop="gameStatus='ING'"
            >開始測驗</button>
          </div>
          <!-- <div class="">
            <img src="/src/Example.JPG" alt="" style="width: 30vw;border: 2px #000 solid;margin-left: 8px;">
          </div> -->
        </div>
        <!-- <button class="btn btn-outline-primary" style="font-size: 3rem;padding: 0 2rem;" @click="gameStatus='ING'">開始測驗</button> -->
      </div>
    </div>
    <div v-else-if="gameStatus==='ING'" style="width: 100vw;height: 100vh;display: flex;flex-direction: column;justify-content: space-around;">
      <!-- 選項區 -->
      <div style="display: flex;justify-content: space-evenly;align-items: center;width: 100%;">
        <div id="options-1" ref="options-1" class="card main-card icon-1 click-able" @click="cardClick('red',1,'▲')">
          <div class="main-card-icon icon-red">▲</div>
        </div>
        <div id="options-2" ref="options-2" class="card main-card icon-2 click-able" @click="cardClick('green',2,'★')">
          <div class="main-card-icon icon-green">★</div>
          <div class="main-card-icon icon-green">★</div>
        </div>
        <div id="options-3" ref="options-3" class="card main-card icon-3 click-able" @click="cardClick('yellow',3,'✚')">
          <div class="main-card-icon icon-yellow">✚</div>
          <div class="main-card-icon icon-yellow">✚</div>
          <div class="main-card-icon icon-yellow">✚</div>
        </div>
        <div id="options-4" ref="options-4" class="card main-card icon-4 click-able" @click="cardClick('blue',4,'●')">
          <div class="main-card-icon icon-blue">●</div>
          <div class="main-card-icon icon-blue">●</div>
          <div class="main-card-icon icon-blue">●</div>
          <div class="main-card-icon icon-blue">●</div>
        </div>
      </div>
      <div style="display: flex;justify-content: space-evenly;align-items: center;width: 100%;">
        <div class="card main-card click-able chosed-card" :class="lastIndex===0?'last-chosed icon-'+choseSave[0][0]:'icon-'+choseSave[0][0]" v-if="choseSave[0]!==null">
            <div class="main-card-icon" :class="'icon-'+choseSave[0][2]" v-for="i in [...Array(choseSave[0][0]).keys()]">{{choseSave[0][1]}}</div>
        </div>
        <div class="empty-card" v-else></div>

        <div class="card main-card click-able chosed-card" :class="lastIndex===1?'last-chosed icon-'+choseSave[1][0]:'icon-'+choseSave[1][0]" v-if="choseSave[1]!==null">
          <div class="main-card-icon" :class="'icon-'+choseSave[1][2]" v-for="i in [...Array(choseSave[1][0]).keys()]">{{choseSave[1][1]}}</div>
        </div>
        <div class="empty-card" v-else></div>

        <div class="card main-card click-able chosed-card" :class="lastIndex===2?'last-chosed icon-'+choseSave[2][0]:'icon-'+choseSave[2][0]" v-if="choseSave[2]!==null">
          <div class="main-card-icon" :class="'icon-'+choseSave[2][2]" v-for="i in [...Array(choseSave[2][0]).keys()]">{{choseSave[2][1]}}</div>
        </div>
        <div class="empty-card" v-else></div>

        <div class="card main-card click-able chosed-card" :class="lastIndex===3?'last-chosed icon-'+choseSave[3][0]:'icon-'+choseSave[3][0]" v-if="choseSave[3]!==null">
          <div class="main-card-icon" :class="'icon-'+choseSave[3][2]" v-for="i in [...Array(choseSave[3][0]).keys()]">{{choseSave[3][1]}}</div>
        </div>
        <div class="empty-card" v-else></div>
      </div>

      <!-- 題目區 -->
      <div style="
        display: flex;justify-content: space-evenly;align-items: center;width: 100%;
      ">
        <div class="card main-card-big" :class="'icon-'+nowQuest[0]">
          <div class="main-card-icon" :class="'icon-'+nowQuest[2]" v-for="i in [...Array(nowQuest[0]).keys()]">{{nowQuest[1]}}</div>
        </div>
        <div class="ans-icon" :class="ansResult==='Y'?'ans-icon-show ans-icon-'+handSide:'ans-icon-'+handSide">正確✔</div>
        <div class="ans-icon" :class="ansResult==='N'?'ans-icon-show ans-icon-'+handSide:'ans-icon-'+handSide">錯誤❌</div>
      </div>
      <div style="position: fixed;top: 0;left: 0;opacity: .5;width:100vw; pointer-events:none;" v-if="false">
        <table>
          <thead>
            <tr>
              <th style="padding: 8px;">SortingPrinciple</th>
              <th style="padding: 8px;">CorrectSeqNumber</th>
              <th style="padding: 8px;">CardNumber</th>
              <th style="padding: 8px;">ColumnSortedTo</th>
              <th style="padding: 8px;">CategoriesMatched</th>
              <th style="padding: 8px;">PerseverativePrinciple</th>
              <th style="padding: 8px;">PerseverativeResponse</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="resultCohse in finalResultList">
              <td>{{resultCohse['SortingPrinciple']}}</td>
              <td>{{resultCohse['CorrectSeqNumber']}}</td>
              <td>{{resultCohse['CardNumber']}}</td>
              <td>{{resultCohse['ColumnSortedTo']}}</td>
              <td>{{resultCohse['CategoriesMatched']}}</td>
              <td>{{resultCohse['PerseverativePrinciple']}}</td>
              <td>{{resultCohse['PerseverativeResponse']}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div v-else-if="gameStatus==='END'" style="width: 100vw;height: 100vh;display: flex;flex-direction: column;align-items: center;justify-content: center;">
      <div class="">
        <div class="row" style="text-align: center;">
          <h1 style="font-size: 10rem;">測驗結束</h1>
          <h3>請通知研究人員進行後續操作</h3>
        </div>
        <div class="row">
          <div class="col" style="display: flex;align-items: center;justify-content: center;font-size: 1.5rem;margin: 8px 0px;">
            <label style="white-space: nowrap;">研究員密碼:</label>
            <input style="margin: 0 8px;" v-model="endPasswordInput">
          </div>
        </div>
        <template v-if="endPasswordInput===endPasswordAns">
          <div style="display: flex;justify-content: center;">
            <button class="btn btn-outline-primary" style="font-size: 3rem;padding: 0 2rem;margin: 1rem;" @click="downloadResultFile">下載結果</button>
            <button class="btn btn-outline-primary" style="font-size: 3rem;padding: 0 2rem;margin: 1rem;" @click="uploadResultFileToGoogleDrive" v-if="googleUploading===false">上傳至Google雲端</button>
            <button class="btn btn-outline-primary" style="font-size: 3rem;padding: 0 2rem;margin: 1rem;" @click="uploadResultFileToGoogleDrive" v-else disabled>上傳Google雲端中</button>
            
            <button class="btn btn-outline-secondary" style="font-size: 3rem;padding: 0 2rem;margin: 1rem;" @click="reStartBtnClick">重新測驗</button>
          </div>
          <div @click="copyGoogleFileUrl" v-if="googleFilePath.length !== 0">
            <div style="display: flex;font-size: 1.2rem;margin-left: 1rem;">
              檔案下載路徑: <div style="margin-left: 8px;">{{googleFilePath}}</div>
            </div>
            <input v-model="googleFilePath" id="google-file-url" style="opacity: 0;position:absolute;top:-10000px;z-index:-10;">
          </div>
        </template>
      </div>
    </div>
  </div>
</body>
<script src="./src/js/main.js"></script>
</html>
<!-- {% endverbatim %} -->
<!-- {% endraw %} -->