<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./src/js/db.js"></script>
    <link href="./src/css/bootstrap5.css" rel="stylesheet">
    <script src="./src/js/vue_2.js"></script>
    <link href="./src/css/main.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <div v-if="gameStatus==='START'" style="width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;">
      <button class="btn btn-outline-primary" style="font-size: 5rem;padding: 0 2rem;" @click="gameStatus='ING'">開始</button>
    </div>
    <div v-else-if="gameStatus==='ING'" style="width: 100vw;height: 100vh;display: flex;flex-direction: column;justify-content: space-around;">
      <!-- 選項區 -->
      <div style="display: flex;justify-content: space-evenly;align-items: center;width: 100%;">
        <div class="card main-card icon-1 click-able" @click="cardClick('red',1,'▲')">
          <div class="main-card-icon icon-red">▲</div>
        </div>
        <div class="card main-card icon-2 click-able" @click="cardClick('green',2,'★')">
          <div class="main-card-icon icon-green">★</div>
          <div class="main-card-icon icon-green">★</div>
        </div>
        <div class="card main-card icon-3 click-able" @click="cardClick('yellow',3,'✚')">
          <div class="main-card-icon icon-yellow">✚</div>
          <div class="main-card-icon icon-yellow">✚</div>
          <div class="main-card-icon icon-yellow">✚</div>
        </div>
        <div class="card main-card icon-4 click-able" @click="cardClick('blue',4,'●')">
          <div class="main-card-icon icon-blue">●</div>
          <div class="main-card-icon icon-blue">●</div>
          <div class="main-card-icon icon-blue">●</div>
          <div class="main-card-icon icon-blue">●</div>
        </div>
      </div>
      
      <!-- 題目區 -->
      <div style="
        display: flex;justify-content: space-evenly;align-items: center;width: 100%;
      ">
        <div class="card main-card-big" :class="'icon-'+nowQuest[0]">
          <div class="main-card-icon" :class="'icon-'+nowQuest[2]" v-for="i in [...Array(nowQuest[0]).keys()]">{{nowQuest[1]}}</div>
        </div>
        <div class="ans-icon" :class="ansResult==='Y'?'ans-icon-show':''">✔</div>
        <div class="ans-icon" :class="ansResult==='N'?'ans-icon-show':''">❌</div>
      </div>
    </div>
    <div v-else-if="gameStatus==='END'" style="width: 100vw;height: 100vh;display: flex;flex-direction: column;justify-content: space-around;">
      <h1 style="text-align: center;font-size: 10rem;">測驗結束</h1>
      <div style="display: flex;justify-content: center;">
        <button class="btn btn-outline-primary" style="font-size: 3rem;padding: 0 2rem;margin: 1rem;" @click="downloadResultFile">下載結果</button>
        <button class="btn btn-outline-secondary" style="font-size: 3rem;padding: 0 2rem;margin: 1rem;" @click="reStartBtnClick">重新測驗</button>
      </div>
    </div>
  </div>
</body>
<script src="./src/js/main.js"></script>
</html>